body {
  display: flex;
  flex-direction: row;
}

aside {
  width: 11%;
  height: 100vh;
  background-color: #181618;
  color: white;
  font-size: 12px;
  padding: 1.5%;
  position: fixed;
}

.logo {
  width: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.cart_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.product_count {
  position: relative;
  left: 20%;
}

nav {
  margin-top: 20px;
}

h2 {
  font-size: 16px;
  margin-top: 20px;
}

ul {
  margin: 0;
  
}

li {
  margin: 8% 5% 5% 0;
}

cite {
  position: absolute;
  bottom: 3%;
  left: 20%;
  font-size: 17px;
}

main {
  width: 89%;
  min-height: 100vh;
  background-color: #303030;
  color: white;
  margin-left: 11%;
  padding: 3%;
}

h1 {
  font-size: 18px;
}
.products_container {
  width: 90%;
  margin-top: 2%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.product {
  width: 150px;
  margin: 0 1.5% 1.5% 0;
}